@import "tailwindcss";
.container{
    @apply mx-auto max-w-screen-2xl 
}
.text-primary{
    @apply text-blue-500
}
.active-link {
  @apply font-bold text-purple-600;
}

@layer base {
  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }
}