/* Button container */
.cart-btn {
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  padding: 0 !important;
  position: relative !important; /* VERY IMPORTANT */
}

/* Cart icon */
.cart-btn mat-icon {
  font-size: 45px !important;
  width: 45px !important;
  height: 45px !important;
  line-height: 45px !important;
}

/* Badge */
.cart-btn .mat-badge-content {
  font-size: 11px !important;
  width: 18px !important;
  height: 18px !important;
  line-height: 18px !important;
}


body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
.login {
  color: #5a056b !important;   /* violet */
  border-color: #410450 !important;
}

.login:hover {
  background-color: #7c3aed1a !important; /* light violet hover */
}

.register {
  color: #5a056b !important;   /* violet */
  border-color: #42044e !important;
}

.register:hover {
  background-color: #7c3aed1a !important; /* light violet hover */
}
 a{
  &.active{
    color:#7d00fa;
    
  }
 }