<header class="shadow-md p-3 w-full bg-neutral-50">
  <div class="flex items-center justify-between max-w-screen-2xl mx-auto">

        <img routerLink="/" src="/images/logo.png" alt="App Logo" class="h-16" />

    <nav class="flex gap-3 my-2 uppercase text-2xl">
      <a routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a routerLink="/shop" routerLinkActive="active">Shop</a>
      <a>Contact</a>
    </nav>

    <div class="flex items-center gap-3">

      <!-- Shopping Cart with Badge -->
     <button
  mat-icon-button
  matBadge="5"
 
  matBadgeSize="medium"
  class="cart-btn"
>
  <mat-icon>shopping_cart</mat-icon>
</button>


<button mat-stroked-button class="login">Login</button>


<button mat-stroked-button class="register">
  Register
</button>


    </div>

  </div>
</header>
