<header class="shadow-md p-3 w-full max-h-20 fixed top-0 z-50 bg-white">
  <div class="flex items-center justify-between max-w-screen-2xl mx-auto">

        <img routerLink="/" src="/images/logo.png" alt="App Logo" class="h-16" />

<nav class="flex gap-3 my-2 uppercase text-2xl font-semibold">
  <a
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </a>

  <a routerLink="/shop" routerLinkActive="active-link">
    Shop
  </a>

  <a routerLink="/test-error" routerLinkActive="active-link">
    ERRORS
  </a>
</nav>



    <div class="flex items-center gap-3">
      <a routerLink="/cart" routerLinkActive="active">

      <!-- Shopping Cart with Badge -->
     <button
  mat-icon-button
  matBadge="{{cartService.itemCount()}}"
 
  matBadgeSize="medium"
  class="cart-btn"
>
  <mat-icon>shopping_cart</mat-icon>
</button>
</a>

<button mat-stroked-button class="login">Login</button>


<button mat-stroked-button class="register">
  Register
</button>


    </div>

  </div>
</header>

@if (busyService.loading){
  <mat-progress-bar mode="indeterminate" class="fixed top-20 z-60"></mat-progress-bar>
}
